<div class="movies-head">
  <h2>All Created Meals</h2>
</div>
<div class="row mx-auto text-center">
  {{#each meals}}
  <div class="col-md-4 artist mx-auto d-block text-center" style="margin-bottom: 10px">
    <div class="card">
    <a href="/meals/details/{{ this._id }}">
      <img
        class="card-img-top mx-auto d-block"
        src="{{ this.image }}"
        onerror="if (this.src != '/images/dubious.png') this.src = '/images/dubious.png';"
      />
    </a>

    
      <div class="card-title text-center">
        <a href="/meals/details/{{ this._id }}">
          <h5 class="btn-link">
            <em>{{ this.name }}</em>
          </h5>
          </a>
      </div>
  <ul class="list-group list-group-flush text-left">
    <li class="list-group-item" style="color: black" >Ingredient A: {{this.first.name}}</li>
    <li class="list-group-item" style="color: black" >Ingredient B: {{this.second.name}}</li>
  </ul>
    </div>
    {{#if this.mine}}
    <div class="form-inline justify-content-center ed-buttons">
      <a href="/meals/edit/{{ this._id }}" class="btn btn-secondary btn-sm"
        >Edit Meal</a
      >
      <form action="/meals/delete/{{ this._id }}" method="POST">
        <button class="btn btn-danger btn-sm">Delete Meal</button>
      </form>
    </div>
    {{/if}}

  </div>

  {{/each}}
</div>