<div class="header">
  <h3>
    My Created Meals:
  </h3>
</div>

<form action="/create-random-meal" method="POST">
<button>Make a Meal</button></form>

<div class="row mx-auto text-center">
  {{#each meals}}
  <div class="col-lg-6 artist mx-auto d-block text-center" style="margin-bottom: 10px">
    <div class="card">
    <a href="/meals/details/{{ this._id }}">
      <img
        class="card-img-top mx-auto d-block"
        src="{{ this.image }}"
        onerror="if (this.src != '/images/dubious.png') this.src = '/images/dubious.png';"
      />
    </a>

    
      <div class="card-title text-center">
          <h5 class="btn-link">
            <em>{{ this.name }}</em>
          </h5>
      </div>
      <div class="card-body text-left">
        <p class="card-text">{{this.body}}</p>
      </div>
  <ul class="list-group list-group-flush text-left">
    <li class="list-group-item" style="color: black" >{{this.first.name}}</li>
    <li class="list-group-item" style="color: black" >{{this.second.name}}</li>
  </ul>
    {{#if ../theUser.isAdmin}}
    <div class="form-inline justify-content-center">
      <a href="/ingredients-a/edit/{{ this._id }}" class="btn btn-secondary btn-sm"
        >Edit Ingredient</a
      >
      <form action="/ingredients-a/delete/{{ this._id }}" method="POST">
        <button class="btn btn-danger btn-sm">Delete Ingredient</button>
      </form>
    </div>
    {{/if}}
    </div>

  </div>

  {{/each}}
</div>
<hr>
<div class="header">
  <h3>
    My 'A' Ingredients:
  </h3>
</div>
<div class="row mx-auto text-center">
  {{#each ingredientsA}}
  <div class="col-sm-4 artist mx-auto d-block text-center" style="margin-bottom: 10px;">
    <div class="card">
    <a href="/ingredients-a/details/{{ this._id }}">
      <img
        class="card-img-top mx-auto d-block"
        style="width:200px"
        src="{{ this.image }}"
        onerror="if (this.src != '/images/dubious.png') this.src = '/images/dubious.png';"
      />
    </a>

    
      <div class="card-title text-center">
          <h5 class="btn-link">
            <em>{{ this.name }}</em>
          </h5>
      </div>
  <ul class="list-group list-group-flush text-left">
    {{#each this.data}}
    <li class="list-group-item" style="color: black" >{{this}}...</li>
    {{/each}}
  </ul>
  </div>
    <div class="form-inline justify-content-center">
      <a href="/ingredients-a/edit/{{ this._id }}" class="btn btn-secondary btn-sm"
        >Edit Ingredient</a
      >
      <form action="/ingredients-a/delete/{{ this._id }}" method="POST">
        <button class="btn btn-danger btn-sm">Delete Ingredient</button>
      </form>
    </div>
    </div>

  </div>

  {{/each}}
</div>

<hr>
<div class="header">
  <h3>
    My 'B' Ingredients:
  </h3>
</div>
<div class="row mx-auto text-center">
  {{#each ingredientsB}}
  <div class="col-sm-4 artist mx-auto d-block text-center" style="margin-bottom: 10px;">
    <div class="card">
      <img
        class="card-img-top mx-auto d-block"
        src="{{ this.image }}"
        style="width: 200px"
        onerror="if (this.src != '/images/dubious.png') this.src = '/images/dubious.png';"
      />

    
      <div class="card-title text-center">
          <h5 class="btn-link">
            <em>{{ this.name }}</em>
          </h5>
      </div>
  <ul class="list-group list-group-flush text-left">
    {{#each this.data}}
    <li class="list-group-item" style="color: black" >...{{this}}</li>
    {{/each}}
  </ul>
    </div>
    <div class="form-inline justify-content-center">
      <a href="/ingredients-b/edit/{{ this._id }}" class="btn btn-secondary btn-sm"
        >Edit Ingredient</a
      >
      <form action="/ingredients-b/delete/{{ this._id }}" method="POST">
        <button class="btn btn-danger btn-sm">Delete Ingredient</button>
      </form>
    </div>

  </div>

  {{/each}}
</div>